<div class="container">
  <div class="sidebar-container">
    <button routerLink="add-product">+ New product</button>
    <nav>
      <ul>
        <li
          [ngClass]="{ active: activeRoute === '/creator' }"
          routerLink="/creator"
        >
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRTvgvgmkWHc3NGsqOJmhj42K_WowBXripNg&usqp=CAU"
          />
          <p>Dashboard</p>
        </li>
        <li
          [ngClass]="{ active: activeRoute === '/creator/uploads' }"
          routerLink="uploads"
        >
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRTvgvgmkWHc3NGsqOJmhj42K_WowBXripNg&usqp=CAU"
          />
          <p>Manage Uploads</p>
        </li>
        <li
          [ngClass]="{ active: activeRoute === '/creator/commissions' }"
          routerLink="commissions"
        >
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRTvgvgmkWHc3NGsqOJmhj42K_WowBXripNg&usqp=CAU"
          />
          <p>Manage Commissions</p>
        </li>
      </ul>
    </nav>
    <div class="terms-container">
      <p>Terms and conditions</p>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
