<div class="container">
  <div class="sidebar-container">
    <button routerLink="new">+ new mail</button>
    <nav>
      <ul>
        <li [ngClass]="{ active: activeRoute === '/mail' }" routerLink="/mail">
          <img src="assets/icons/mail/received.svg" />
          <p>Inbox</p>
        </li>
        <li
          [ngClass]="{ active: activeRoute === '/mail/sent' }"
          routerLink="sent"
        >
          <img src="assets/icons/mail/sent.svg" />
          <p>Sent</p>
        </li>
      </ul>
    </nav>
    <div class="report-container">
      <img src="assets/icons/mail/alert.svg" />
      <p>Report someone</p>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
