<div class="container">
  <div class="sidebar-container">
    <button class="button-creator" routerLink="/creator">
      <img src="assets/icons/brush-secondary.svg" /> Creator Space >>
    </button>
    <nav>
      <ul>
        <li [ngClass]="{ active: activeRoute === '/me' }" routerLink="/me">
          <img src="assets/icons/account.svg" />
          <p>Account</p>
        </li>
        <li
          [ngClass]="{ active: activeRoute === '/me/purchases' }"
          routerLink="purchases"
        >
          <img src="assets/icons/currency-usd.svg" />
          <p>Purchase History</p>
        </li>
        <li
          [ngClass]="{
            active:
              activeRoute === '/me/orders' || activeRoute === '/me/orders/new'
          }"
          routerLink="orders"
        >
          <img src="assets/icons/order.svg" />
          <p>Commission Orders</p>
        </li>
        <li
          [ngClass]="{ active: activeRoute === '/me/favourites' }"
          routerLink="favourites"
        >
          <img src="assets/icons/hearts/heart-filled-black.svg" />
          <p>Favourites</p>
        </li>
      </ul>
    </nav>

    <button class="button-logout" (click)="logout()">Log out</button>
    <div class="report-container">
      <img src="assets/icons/mail/alert.svg" />
      <p>
        <a
          href="https://luck-fir-85e.notion.site/Viral-Vtubers-Terms-and-Conditions-fb7a7afcaade464a843d2b0bd2afe149"
        >
          Terms and conditions
        </a>
      </p>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
