@import "../../../variables";

:host {
  width: 100%;

  display: flex;
  flex-direction: column;

  overflow-y: scroll;
  overflow-x: none;
}

h1 {
  font-size: $font-size-h6;
  font-weight: 400;
  margin-bottom: 0;
}

h1 + hr {
  border: solid 1px $color-primary;
  margin: 0;
  width: 50px;

  margin-bottom: 20px;
}

.row {
  background-color: lightblue;
  width: 100%;

  border-bottom: solid 1px $color-grey-light;
}

table {
  margin-right: 40px;

  border-collapse: collapse;

  .table-head {
    height: 100px;
  }

  tr {
    th {
      text-align: left;
      font-weight: 500;
      font-size: $font-size-body-1;

      padding: 5px 15px;
    }

    td {
      border-top: solid 1px $color-grey-light;

      padding: 0 15px;

      &.product-col {
        width: 35%;
      }

      &.buyer-col {
        width: 25%;
      }

      &.date-col {
        width: 25px;
      }

      &.price-col {
        width: 15%;
      }
    }
  }
}

.product-container {
  display: flex;
  align-items: flex-start;

  margin: 24px 0;

  cursor: pointer;

  &:hover {
    h5 {
      color: $color-primary;
    }
  }

  img {
    height: 80px;
    width: 80px;
    object-fit: contain;
    border: solid 1px $color-grey-light;

    background-image: url(https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  > div {
    margin-left: 20px;

    h5 {
      font-size: $font-size-body-1;
      margin: 0;

      margin-top: 5px;
      margin-bottom: 8px;
      font-weight: 500;

      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;

      transition: $button-hover-animation;
    }

    p {
      margin: 0;
      margin-top: 8px;
      font-size: $font-size-body-3;
      color: $color-grey-dark;
      font-weight: 400;

      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

.buyer-container {
  display: flex;
  align-items: center;

  cursor: pointer;

  &:hover {
    p {
      color: $color-primary;
    }
  }

  img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-right: 5px;

    border: solid 1px $color-grey-light;
  }

  p {
    transition: $button-hover-animation;

    font-size: $font-size-body-2;
    margin: 0;
    padding-left: 10px;
  }
}

.date-container {
  font-size: $font-size-body-3;
  margin: 0;
}

.price-container {
  font-size: $font-size-body-1;
  margin: 0;
}

.loading-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
