<div class="container">
  <div class="history-container">
    <h4>Sale History</h4>
    <div class="sales-container">
      <div class="sale-headers">
        <h5 class="sale-heading product-col">Product</h5>
        <h5 class="sale-heading buyer-col">Buyer</h5>
        <h5 class="sale-heading date-col">Transaction Date</h5>
        <h5 class="sale-heading price-col">Price</h5>
      </div>
      <hr class="divider" />
      <div class="sale-items" *ngFor="let i of [0, 1, 2, 3]">
        <div class="sale-item">
          <div class="product-col">
            <img src="https://picsum.photos/200?1" class="product-img" />
            <div class="item-names">
              <h5>VROID Outfit - Raiden Shogun/Genshin Impact</h5>
              <h6>VRM - Shogun/Genshin Impact</h6>
            </div>
          </div>

          <div class="buyer buyer-col">
            <img src="https://picsum.photos/200?2" />
            <h5>Baka</h5>
          </div>
          <h5 class="date-col">12-12-2000 5:30pm (any longish format)</h5>
          <h5 class="price-col">$69.99</h5>
        </div>
        <hr class="divider" />
      </div>
    </div>
  </div>
</div>
