<div class="container">
  <div class="history-container">
    <h4>Sale History</h4>
    <div class="title-underscore"></div>
    <ng-container *ngIf="sales$ | async as sales; else loading">
      <ng-container *ngIf="sales.length > 0; else empty">
        <div class="sales-container">
          <div class="sale-headers">
            <h5 class="sale-heading product-col">Product</h5>
            <h5 class="sale-heading buyer-col">Buyer</h5>
            <h5 class="sale-heading date-col">Transaction Date</h5>
            <h5 class="sale-heading price-col">Price</h5>
          </div>
          <hr class="divider" id="first-divider" />

          <ng-container *ngFor="let sale of sales">
            <div class="sale-items" *ngFor="let item of sale.items">
              <div class="sale-item">
                <div class="product-col">
                  <img [src]="item.product.titleImage" class="product-img" />
                  <div class="item-names">
                    <h5></h5>
                    <h6>
                      {{ item.product.description }}
                    </h6>
                  </div>
                </div>

                <div class="buyer buyer-col">
                  <img [src]="sale.buyer.profileImageURI" />
                  <h5>{{ sale.buyer.displayName }}</h5>
                </div>
                <h5 class="date-col">{{ toDate(sale.placed) }}</h5>
                <h5 class="price-col">{{ item.price }}</h5>
              </div>
              <hr class="divider" />
            </div>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>

<ng-template #empty>
  <div class="empty">
    <img src="assets/chibis/gwenny.png" />
    <p>No sales yet...</p>
  </div>
</ng-template>

<ng-template #loading>
  <div class="empty">
    <img src="assets/chibis/gwenny.png" />
    <p>Loading...</p>
  </div>
</ng-template>
