@import "../../../variables";

:host {
  height: calc(100% - $header-height);
  width: 100%;
  display: flex;
  flex-direction: row;
}

.sidebar-container {
  height: 100%;
  padding: 40px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

.sidebar-header {
  display: flex;

  width: 100%;

  align-items: center;
  justify-content: space-between;

  h3 {
    font-size: $font-size-h6;
    font-weight: 400;

    margin: 0;
  }

  p {
    color: $color-grey-dark;
    font-weight: 400;

    font-size: $font-size-body-2;

    cursor: pointer;

    transition: $button-hover-animation;

    &:hover {
      opacity: $button-coloured-hover-opacity;
    }
  }
}

.filter-container {
  width: 250px;

  h5 {
    font-size: $font-size-body-2;
    font-weight: 400;

    margin-bottom: 0;
  }

  .select-wrapper {
    padding-left: 10px;
    box-sizing: border-box;
  }

  select {
    background: none;
    border: none;

    color: $color-grey-dark;

    border-bottom: solid 1px $color-grey-light;

    padding: 5px 5px;
    margin: 5px 0;

    width: 100%;

    font-size: $font-size-body-3;
    font-family: $font-family-poppins;

    cursor: pointer;
  }
}
