@import "../../../variables";

:host {
  height: calc(100% - $header-height);
  width: 100%;
  display: flex;
  flex-direction: row;
}

.sidebar-container {
  height: 100%;
  padding: 40px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  background-color: lightblue;
}

.sidebar-header {
  display: flex;

  width: 100%;

  align-items: center;
  justify-content: space-between;

  h3 {
    font-size: $font-size-h6;
    font-weight: 400;
  }

  p {
    color: $color-grey-dark;
    font-weight: 400;

    font-size: $font-size-body-2;
  }
}

.filter-container {
  width: 250px;

  h5 {
    font-size: $font-size-body-2;
    font-weight: 400;
  }
}
