<div class="page-header">
  <h1>{{ title }}</h1>
</div>
<div class="content-container">
  <div class="sidebar-container">
    <div class="sidebar-header">
      <h3>Filter</h3>
      <p (click)="resetFilters()">Reset</p>
    </div>

    <div class="filter-container">
      <h5>Category</h5>
      <div class="select-wrapper">
        <select
          [(ngModel)]="selectedCategoryFilter"
          [ngClass]="
            selectedCategoryFilter === categoryFilters[0] ? '' : 'selected'
          "
          (ngModelChange)="onCategoryFiltersChange($event)"
        >
          <option *ngFor="let option of categoryFilters" [ngValue]="option">
            {{ option.name }}
          </option>
        </select>
      </div>
    </div>

    <div class="filter-container">
      <h5>Subcategory</h5>
      <div class="select-wrapper">
        <select
          [(ngModel)]="selectedSubCategoryFilter"
          [ngClass]="
            selectedSubCategoryFilter ===
            selectedCategoryFilter.subcategories[0]
              ? ''
              : 'selected'
          "
          [disabled]="selectedCategoryFilter === categoryFilters[0]"
          (ngModelChange)="onSubcategoryFiltersChange($event)"
        >
          <option
            *ngFor="let option of selectedCategoryFilter.subcategories"
            [ngValue]="option"
          >
            {{ option.name }}
          </option>
        </select>
      </div>
    </div>

    <div class="filter-container">
      <h5>Age Restriction</h5>
      <div class="select-wrapper">
        <select
          [(ngModel)]="selectedAgeRestrictionFilter"
          [ngClass]="
            selectedAgeRestrictionFilter === ageRestrictionFilters[0]
              ? ''
              : 'selected'
          "
          (ngModelChange)="onAgeRestrictionFiltersChange($event)"
        >
          <option
            *ngFor="let option of ageRestrictionFilters"
            [ngValue]="option"
          >
            {{ option.name }}
          </option>
        </select>
      </div>
    </div>

    <div class="slider-container">
      <h5>Price</h5>
      <ngx-slider
        [(value)]="minValue"
        [(highValue)]="maxValue"
        [options]="options"
        (userChangeEnd)="onPriceChange($event)"
      ></ngx-slider>
    </div>
  </div>

  <div
    class="products-container"
    *ngIf="products$ | async as products; else loading"
    [@inOutAnimation]
  >
    <div class="config-container">
      <p>Total {{ products.length }} items</p>
      <select
        [(ngModel)]="selectedSortOption"
        (ngModelChange)="onSortChange($event)"
      >
        <option *ngFor="let sortOp of sortOptions" [ngValue]="sortOp">
          {{ sortOp.name }}
        </option>
      </select>
    </div>
    <div class="grid-container">
      <app-products-grid [products]="products"></app-products-grid>
    </div>
  </div>
</div>

<ng-template #loading>
  <div>Loading ...</div>
</ng-template>

<ng-template #empty>
  <div>Empty ...</div>
</ng-template>
