<div class="sidebar-container">
  <div class="sidebar-header">
    <h3>Filter</h3>
    <p>Reset</p>
  </div>

  <div class="filter-container">
    <h5>Category</h5>
    <div class="select-wrapper">
      <select>
        <option>All</option>
      </select>
    </div>
  </div>

  <div class="filter-container">
    <h5>Subcategory</h5>
    <div class="select-wrapper">
      <select>
        <option>All</option>
      </select>
    </div>
  </div>

  <div class="filter-container">
    <h5>Age Restriction</h5>
    <div class="select-wrapper">
      <select>
        <option>All</option>
      </select>
    </div>
  </div>

  <ngx-slider
    [(value)]="minValue"
    [(highValue)]="maxValue"
    [options]="options"
  ></ngx-slider>
</div>

<app-products-grid [products]="products"></app-products-grid>
