<h1>Account</h1>
<hr />

<div class="account-info-container">
  <div class="info">
    <h6>Name</h6>
    <p>NozomiSenpai</p>
  </div>
  <div class="info">
    <h6>Email</h6>
    <p>nozomi.senpai@gmail.com</p>
  </div>
</div>

<div class="follow-info-container">
  <div class="followers-container">
    <h2>Followers</h2>
    <hr />
    <div class="followers">followers</div>
  </div>
  <div class="following-container">
    <h2>Following</h2>
    <hr />
    <div class="following">following</div>
  </div>
</div>
