<h1>Account</h1>
<hr />
<ng-container *ngIf="account$ | async as account; else loading">
  <div class="account-info-container">
    <div class="info">
      <h6>Name</h6>
      <p>{{ account.displayName }}</p>
    </div>
    <div class="info">
      <h6>Email</h6>
      <p>{{ account.email }}</p>
    </div>
  </div>

  <div class="follow-info-container">
    <div class="follow-wrapper">
      <h2>Followers</h2>
      <hr />
      <div class="list">
        <div *ngFor="let person of account.followers" class="list-item">
          <img src="{{ person.profileImageURI }}" />

          <div class="person-info">
            <h6>{{ person.displayName }}</h6>
            <p>{{ person.status }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="follow-wrapper">
      <h2>Following</h2>
      <hr />
      <div class="list">
        <div *ngFor="let person of account.following" class="list-item">
          <img src="{{ person.profileImageURI }}" />
          <div class="person-info">
            <h6>{{ person.displayName }}</h6>
            <p>{{ person.status }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <div class="loading-container">
    <app-loading chibi="vivi" height="300px" fontSize="large"
      ><p text>
        Vivi is working hard to load your profile for you...
      </p></app-loading
    >
  </div>
</ng-template>
