<h1>Account</h1>
<hr />

<div class="account-info-container">
  <div class="info">
    <h6>Name</h6>
    <p>NozomiSenpai</p>
  </div>
  <div class="info">
    <h6>Email</h6>
    <p>nozomi.senpai@gmail.com</p>
  </div>
</div>

<div class="follow-info-container">
  <div class="follow-wrapper">
    <h2>Followers</h2>
    <hr />
    <div class="list">
      <div
        *ngFor="let i of [0, 1, 2, 4, 5, 6, 7, 8, 9, 2, 34, 5, 32, 4, 52, 2]"
        class="list-item"
      >
        <img src="https://picsum.photos/100/100" />

        <div class="person-info">
          <h6>NozomiSenpai</h6>
          <p>Dancing in the rain~</p>
        </div>
      </div>
    </div>
  </div>
  <div class="follow-wrapper">
    <h2>Following</h2>
    <hr />
    <div class="list">
      <div *ngFor="let i of [0, 1, 2]" class="list-item">
        <img src="https://picsum.photos/100/100" />
        <div class="person-info">
          <h6>NozomiSenpai</h6>
          <p>Dancing in the rain~</p>
        </div>
      </div>
    </div>
  </div>
</div>
