<nav class="navbar">
  <div #marketplace class="navbar-btn marketplace-btn">
    <a routerLink="/marketplace" class="logo" (mouseover)="marketplaceShow()"
      >marketplace</a
    >
  </div>
  <div class="navbar-btn">
    <a routerLink="/commissions" class="logo">commission</a>
  </div>
  <div class="navbar-btn logo-btn">
    <a routerLink="/" class="logo">Vlogo</a>
  </div>
  <div class="search">
    <input
      placeholder="老师: 你这样会使得我很尴尬"
      [(ngModel)]="search"
      (keyup.enter)="submitSearch()"
    />
    <button (click)="submitSearch()">
      <img class="search-icon" src="assets/icons/SearchIcon.svg" />
    </button>
  </div>
  <a *ngIf="self$ !== undefined">
    <div class="profile-img profile-dropdown" *ngIf="self$ | async as self">
      <img
        [src]="
          self?.profileImageURI && self?.profileImageURI !== ''
            ? self?.profileImageURI
            : 'assets/chibis/chibi-profile.png'
        "
      />
      <div class="profile-dropdown-content">
        <a routerLink="/me">Account</a>
        <a routerLink="/user/{{ self.id }}">Profile</a>
      </div>
    </div>
  </a>

  <div class="icon-btns">
    <a routerLink="cart">
      <img class="icon-img" src="assets/icons/CartIcon.svg" />
    </a>
    <div
      class="notify"
      [ngStyle]="{ opacity: notification.numCart !== 0 ? 1 : 0 }"
      *ngIf="notification$ | async as notification"
    >
      {{ notification.numCart }}
    </div>
    <a routerLink="mail">
      <img class="icon-img" src="assets/icons/MailIcon.svg" />
    </a>
    <div
      class="notify"
      [ngStyle]="{ opacity: notification.numMail !== 0 ? 1 : 0 }"
      *ngIf="notification$ | async as notification"
    >
      {{ notification.numMail }}
    </div>
  </div>

  <a routerLink="/creator" routerLink="/creator">
    <button class="submit-button">+ Submit</button>
  </a>
  <div
    #dropdown
    class="dropdown-content"
    (mouseleave)="marketplaceHide()"
    (mouseover)="marketplaceShow()"
  >
    <a #dress #category (click)="categoryDress()">{{ firstCategory }}</a>
    <div #otherCategories>
      <a #wholeModels #category (click)="categoryWholeModels()">models</a>
      <a #accessories #category (click)="categoryAccessories()">accessories</a>
      <a #backgrounds #category (click)="categoryBackgrounds()">backgrounds</a>
    </div>
    <div #subcategories class="dropdown-subcategories">
      <a #subcategory>top</a>
      <a #subcategory>pants</a>
      <a #subcategory>footwear</a>
      <a #subcategory>underwear</a>
    </div>
  </div>
</nav>
