<nav class="navbar">
  <div #marketplace class="navbarBtn marketplaceBtn">
    <a href="/marketplace" class="logo" (mouseover)="marketplaceShow()"
      >marketplace</a
    >
  </div>
  <div class="navbarBtn">
    <a href="/commissions" class="logo">commission</a>
  </div>
  <div class="navbarBtn logoBtn">
    <a href="#" class="logo">Vlogo</a>
  </div>
  <div class="search">
    <input placeholder="老师: 你这样会使得我很尴尬" />
    <button>
      <img class="searchIcon" src="assets/icons/SearchIcon.svg" />
    </button>
  </div>
  <a href="me">
    <div class="profileImg">
      <img
        [src]="
          !(self$ | async)?.profileImageURI
            ? (self$ | async)?.profileImageURI
            : 'assets/chibis/chibi-profile.png'
        "
      />
    </div>
  </a>
  <div class="iconBtns">
    <a href="cart">
      <img class="iconImg" src="assets/icons/CartIcon.svg" />
    </a>
    <div class="notify">1</div>
    <a href="mail">
      <img class="iconImg" src="assets/icons/MailIcon.svg" />
    </a>
    <div class="notify">1</div>
    <img class="iconImg" src="assets/icons/NotificationIcon.svg" />
    <div class="notify">3</div>
  </div>

  <a routerLink="/creator" href="/creator">
    <button class="submit-button">+ Submit</button>
  </a>
  <div
    #dropdown
    class="dropdown-content"
    (mouseleave)="marketplaceHide()"
    (mouseover)="marketplaceShow()"
  >
    <a #dress #category (click)="categoryDress()">{{ firstCategory }}</a>
    <div #otherCategories>
      <a #wholeModels #category (click)="categoryWholeModels()">models</a>
      <a #accessories #category (click)="categoryAccessories()">accessories</a>
      <a #backgrounds #category (click)="categoryBackgrounds()">backgrounds</a>
    </div>
    <div #subcategories class="dropdown-subcategories">
      <a #subcategory>top</a>
      <a #subcategory>pants</a>
      <a #subcategory>footwear</a>
      <a #subcategory>underwear</a>
    </div>
  </div>
</nav>
