<div class="container">
  <div class="parallelogram para-blue">
    <div class="parallelogram-content">cibtebet</div>
  </div>
  <div class="parallelogram para-pink">
    <div class="parallelogram-content">cibtebet</div>
  </div>

  <div class="hero-container">
    <h1>BROWSE, <br />CREATE, or<br />REQUEST ASSETS</h1>
    <p>
      Couldn’t find your perfect Vtuber? Or want to share your talents with<br />
      the rest of the world? The all new commission system is now
      <br />available!
    </p>
    <button>Start browsing now</button>
  </div>
  <div class="content-container">content</div>
</div>
