@import "../../variables";

$page-margin: 130px;

:host {
  width: 100%;

  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 1900px;
  height: 1080px;

  overflow-y: none;

  margin: 0;
}

.parallelogram {
  position: absolute;

  margin: 0;

  height: 700px;
  width: 550px;

  .parallelogram-content {
    margin-top: 50px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;

    width: 550px;
    height: 700px;
    display: inline-block;
    transform: skewX(15deg);
    z-index: 1;
  }

  * {
    position: relative;
    z-index: 5;
  }
}

.para-pink {
  top: $header-height;
  right: -200px;

  &::before {
    background-color: $color-secondary-light;
  }
}

.para-blue {
  top: $header-height + 170px;
  right: 400px;

  &::before {
    background-color: $color-primary-light;
  }
}

.hero-container {
  width: 40%;
  height: 823px;

  box-sizing: border-box;
  padding-left: $page-margin;

  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: 70px;
    font-weight: 600;
    line-height: 105px;

    margin: 0;
  }

  p {
    color: $color-grey-dark;

    margin: 0;
    margin-top: 15px;

    font-weight: 400;
    font-size: $font-size-body-1;
    line-height: 24px;
  }
}

.content-container {
  background-color: pink;
  width: 100%;

  box-sizing: border-box;
  padding: 0 $page-margin;
}
