@import "../../variables";

$page-margin: 130px;

:host {
  width: 100%;
  height: calc(100% - $header-height);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  overflow-y: scroll;
}

.container {
  width: 1920px;

  overflow-x: hidden;

  margin: 0;

  position: relative;
}

.parallelogram {
  position: absolute;

  margin: 0;

  height: 620px;
  width: 550px;

  // this draws the parallelogram
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;

    width: 550px;
    height: 620px;

    display: inline-block;
    transform: skewX(15deg);
    z-index: 1;
  }

  // need to set all children's z indexes for them to show up above the ::before
  * {
    position: relative;
    z-index: 5;
  }

  .parallelogram-content {
    margin-top: 50px;

    > p {
      font-weight: 400;
      font-size: $font-size-body-1;
      line-height: 26px;

      color: $color-grey-dark;
    }

    > h2 {
      font-style: normal;
      font-weight: 500;
      font-size: $font-size-h5;

      line-height: 36px;

      margin: 0;
    }

    > img {
      transform: scaleX(-1);
      height: 410px;

      top: 65px;
      left: 115px;
    }
  }
}

.para-pink {
  top: $header-height;
  right: -200px;

  h2 {
    font-size: $font-size-h6 !important;
  }

  &::before {
    background-color: $color-secondary-light;
  }
}

.para-blue {
  top: $header-height + 170px;
  right: 400px;

  &::before {
    background-color: $color-primary-light;
  }
}

.hero-container {
  width: 40%;
  height: 960px;

  box-sizing: border-box;
  padding-left: $page-margin;

  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: 70px;
    font-weight: 600;
    line-height: 105px;

    margin: 0;
  }

  p {
    color: $color-grey-dark;

    margin: 0;
    margin-top: 15px;

    font-weight: 400;
    font-size: $font-size-body-1;
    line-height: 24px;
  }

  button {
    width: 200px;
    height: 40px;

    background-color: $color-primary;
    color: $color-background;

    border-radius: 5px;
    border: none;

    font-family: $font-family-poppins;
    font-weight: 500;

    text-transform: uppercase;

    margin-top: 50px;

    cursor: pointer;

    transition: $button-hover-animation;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.content-container {
  width: 100%;

  box-sizing: border-box;
  padding: 0 $page-margin;

  .categories-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    column-gap: 40px;

    > li {
      list-style: none;

      height: 300px;
      flex: 1;

      background-color: #f6f9fa;
    }
  }
}
