<div class="container">
  <a routerLink="/marketplace">
    <div class="parallelogram para-blue">
      <div class="parallelogram-content">
        <p>Follow Gwenny... I'll show you the world!</p>
        <h2>Browse Assets</h2>
        <img
          class="gwenny-img"
          src="assets/chibis/gwenny.png"
          alt="Your gal Gwenny!"
        />
      </div>
    </div>
  </a>
  <a routerLink="/commissions">
    <div class="parallelogram para-pink">
      <div class="parallelogram-content">
        <p>Follow Vivi... Come see the commissions!</p>
        <h2>Commission Assets</h2>
        <img
          class="vivi-img"
          src="assets/chibis/vivi.png"
          alt="Your gal Vivi!"
        />
      </div>
    </div>
  </a>

  <div class="hero-container">
    <h1>BROWSE, <br />CREATE, or<br />REQUEST ASSETS</h1>
    <p>
      Couldn’t find your perfect Vtuber? Or want to share your talents with<br />
      the rest of the world? The all new commission system is now
      <br />available!
    </p>
    <a routerLink="/marketplace"><button>Start browsing now</button></a>
  </div>
  <div class="content-container">
    <ul class="categories-container">
      <li>
        <a routerLink="/marketplace/dress">
          <div>
            <h3>Dresses</h3>
            <a>Shop now</a>
          </div>
          <img src="assets/categories/dresses.png" />
        </a>
      </li>
      <li>
        <a routerLink="/marketplace/model">
          <div>
            <h3>Models</h3>
            <a>Shop now</a>
          </div>
          <img src="assets/categories/models.png" />
        </a>
      </li>
      <li>
        <a routerLink="/marketplace/accessory">
          <div>
            <h3>Accessories</h3>
            <a>Shop now</a>
          </div>
          <img src="assets/categories/accessories.png" />
        </a>
      </li>
      <li>
        <a routerLink="/marketplace/background">
          <div>
            <h3>Backgrounds</h3>
            <a>Shop now</a>
          </div>
          <img src="assets/categories/backgrounds.png" />
        </a>
      </li>
    </ul>

    <div class="section">
      <h3>Newest Products</h3>
      <hr />

      <ng-container *ngIf="products$ | async as products; else loadingProducts">
        <ng-container *ngIf="products.length > 0; else emptyProducts">
          <div class="section-content products">
            <div *ngFor="let product of products" class="products-content">
              <a
                class="product-item"
                routerLink="/marketplace/product/{{ product.id }}"
              >
                <img
                  src="{{ product.titleImage }}"
                  alt="waifu"
                  onerror="if (this.src != 'assets/placeholder.png') this.src = 'assets/placeholder.png';"
                />
                <div>
                  <div class="product-info">
                    <h4>{{ product.name }}</h4>
                    <p>
                      <img
                        src="assets/icons/hearts/heart-filled-secondary.svg"
                      />
                      {{ product.numLikes }} Likes
                    </p>
                  </div>
                  <p>${{ product.minPrice | number: "1.2-2" }}</p>
                </div>
              </a>
            </div>
          </div>
        </ng-container>

        <ng-template #emptyProducts>
          <app-loading chibi="vivi" height="300px">
            <p text>
              Vivi found nothing... Let's look somewhere else!
            </p></app-loading
          >
        </ng-template>
      </ng-container>
      <ng-template #loadingProducts>
        <app-loading chibi="vivi" height="300px">
          <p text>
            Vivi is working hard to load some products for you...
          </p></app-loading
        >
      </ng-template>
    </div>
    <div class="section">
      <h3>Latest Commission Requests</h3>
      <hr />

      <ng-container *ngIf="requests$ | async as requests; else loadingRequests">
        <ng-container *ngIf="requests.length > 0; else emptyRequests">
          <div class="section-content commission-requests">
            <div *ngFor="let order of requests" class="request-container">
              <a class="product-item" routerLink="/commissions/requests">
                <img
                  src="{{ order.image }}"
                  onerror="if (this.src != 'assets/placeholder.png') this.src = 'assets/placeholder.png';"
                />
                <div class="info-container">
                  <h4>{{ order.name }}</h4>
                  <div class="description-container">
                    <p>{{ order.description }}</p>
                  </div>
                </div>
                <p>${{ order.bounty }}</p>
              </a>
            </div>
          </div>
        </ng-container>
        <ng-template #emptyRequests>
          <app-loading chibi="gwenny" height="300px">
            <p text>
              Gwenny found nothing... Let's look somewhere else!
            </p></app-loading
          >
        </ng-template>
      </ng-container>
      <ng-template #loadingRequests>
        <app-loading chibi="gwenny" height="300px">
          <p text>
            Gwenny is working hard to load some commission requests for you...
          </p>
        </app-loading>
      </ng-template>
    </div>
  </div>
</div>
