// colour theme
$color-primary: #00a1d6;
$color-primary-light: #dff6fd;
$color-primary-dark: #084f67;
$color-secondary: #fb7299;
$color-secondary-light: #ffecf1;
$color-grey-dark: #aaaaaa;
$color-grey-light: #dddddd;
$color-background: #ffffff;
$color-kneegrow: #222222;

// font sizes
$font-size-body-3: 0.75rem; // 12px
$font-size-body-2: 0.875rem; // 14px
$font-size-body-1: 1rem; // 16px
$font-size-h6: 1.25rem; // 20px
$font-size-h5: 1.5rem; // 24px
$font-size-h4: 2.25rem; // 36px
$font-size-h3: 3rem; //48 px
$font-size-h2: 3.75rem; // 60 px
$font-size-h1: 6rem; // 96 px

// font families
$font-family-poppins: "Poppins", sans-serif;
$font-family-monospace: "Major Mono Display", monospace;

// static element sizes
$header-height: 68px;
$footer-height: 200px;

// button styling
$button-hover-animation: 0.2s ease;
$button-coloured-hover-opacity: 0.8;
$button-blank-hover-bg: #fbfbfb;
