<div class="header-bg">
  <img class="cloud cloud-left" src="../../../assets/clouds/cloud_big.svg" />
  <img class="cloud cloud-mid" src="../../../assets/clouds/cloud_big.svg" />
  <img class="cloud cloud-right" src="../../../assets/clouds/cloud_smol.svg" />
</div>
<div class="page-container">
  <h1>Reset Password</h1>
  <div class="content-container">
    <p>
      Please enter the email address for the account you are requesting a
      password reset
    </p>
    <input
      class="text-input"
      type="email"
      placeholder="Email Address"
      #passwordResetEmail
      required
    />
    <input
      class="submit-button"
      type="submit"
      value="Reset Password"
      (click)="authService.forgotPassword(passwordResetEmail.value)"
    />

    <div class="no-account">
      Don't have an account?<a routerLink="/register"> Sign Up</a>
    </div>
  </div>
</div>
<app-footer></app-footer>
