<div class="content-container">
  <h1>Compose new mail</h1>
  <div class="new-mail-container">
    <div class="input-group">
      <p>To: <span>(username)</span></p>
      <input type="text" placeholder="happy-vivi" />
    </div>
    <div class="input-group">
      <p>Subject:</p>
      <input type="text" placeholder="new commission" />
    </div>
    <div class="input-group message-group">
      <p>Message:</p>
      <textarea
        type="text"
        placeholder="I want to talk to you about..."
      ></textarea>
    </div>
    <button class="send-button">Send</button>
  </div>
</div>
