@import "../../../variables";

:host {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  overflow-y: auto;

  box-sizing: border-box;
  padding-right: 40px;
}

h1 {
  font-size: $font-size-h6;
  font-weight: 400;
  margin-bottom: 0;
}

h1 + hr {
  border: solid 1px $color-primary;
  margin: 0;
  width: 100px;

  margin-bottom: 40px;
}

h3 {
  font-size: $font-size-body-1;
  font-weight: 400;
  margin-top: 0;
}

.content-container {
  width: 100%;

  margin-bottom: 40px;
}

.row {
  width: 100%;

  border-bottom: solid 1px $color-grey-light;
}

table {
  flex: 1;

  margin-right: 40px;

  border-collapse: collapse;

  tr {
    th {
      text-align: left;
      font-weight: 500;
      font-size: $font-size-body-1;

      padding: 5px 15px;
    }

    td {
      border-top: solid 1px $color-grey-light;

      padding: 0 15px;

      &.request-col {
        width: 35%;
      }

      &.artist-col {
        width: 25%;
      }

      &.date-col {
        width: 25px;
      }

      &.price-col {
        width: 15%;
      }
    }
  }
}

.request-container {
  display: flex;
  align-items: flex-start;

  margin: 24px 0;

  cursor: pointer;

  &:hover {
    h5 {
      color: $color-primary;
    }
  }

  img {
    height: 80px;
    width: 80px;
    object-fit: contain;
    border: solid 1px $color-grey-light;
  }

  > div {
    margin-left: 20px;

    h5 {
      font-size: $font-size-body-1;
      margin: 0;

      margin-top: 5px;
      margin-bottom: 8px;
      font-weight: 500;

      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;

      transition: $button-hover-animation;
    }

    p {
      margin: 0;
      margin-top: 8px;
      font-size: $font-size-body-3;
      color: $color-grey-dark;
      font-weight: 400;

      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

.artist-container {
  display: flex;
  align-items: center;

  cursor: pointer;

  &:hover {
    p {
      color: $color-primary;
    }
  }

  img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-right: 5px;

    border: solid 1px $color-grey-light;
  }

  p {
    transition: $button-hover-animation;

    font-size: $font-size-body-2;
    margin: 0;
    padding-left: 10px;
  }
}

.date-container {
  font-size: $font-size-body-3;
  margin: 0;
}

.price-container {
  font-size: $font-size-body-1;
  margin: 0;
}

.pending-orders {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  // button {
  //   height: 70px;
  //   width: 600px;

  //   background-color: $color-primary;
  //   color: $color-background;

  //   font-size: $font-size-body-2;
  //   font-weight: 500;
  //   font-family: $font-family-poppins;

  //   border: solid 1px $color-grey-light;
  //   border-radius: 5px;

  //   padding: 0 20px;

  //   cursor: pointer;
  //   transition: $button-hover-animation;

  //   &:hover {
  //     opacity: $button-coloured-hover-opacity;
  //   }

  //   margin-bottom: 30px;
  // }

  .request-container {
    height: 100px;
    width: 600px;

    border: solid 1px $color-grey-light;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 0;
    margin-bottom: 15px;
    margin-right: 15px;

    cursor: pointer;
    transition: $button-hover-animation;

    &:hover {
      border: solid 1px $color-primary;

      h4 {
        color: $color-primary;
      }
    }

    img {
      height: 100%;
      aspect-ratio: 1;
      border: none;
    }

    .info-container {
      flex: 1;
      display: flex;
      flex-direction: column;

      h4 {
        font-size: $font-size-body-1;
        font-weight: 500;
        margin: 0;
        margin-top: -5px;

        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      .description-container {
        width: 100%;
        flex: 1;

        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
          font-size: $font-size-body-3;
          font-weight: 400;
          margin: 0;
          color: $color-grey-dark;

          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
    }
  }

  > p {
    padding: 0 30px;

    text-transform: uppercase;
    font-size: $font-size-body-2;
    font-weight: 500;

    color: $color-primary;

    cursor: pointer;
    transition: $button-hover-animation;

    &:hover {
      opacity: $button-coloured-hover-opacity;
    }
  }
  .new-request {
    a {
      height: 100%;
      width: 100%;

      color: inherit;
    }

    button {
      height: 100%;
      width: 100%;

      background: #f6f9fa;

      border: none;

      font-size: $font-size-body-2;
      font-weight: 500;
      font-family: $font-family-poppins;
      text-transform: uppercase;

      color: $color-grey-dark;

      border-radius: 5px;

      padding: 0 20px;

      cursor: pointer;
      transition: $button-hover-animation;

      &:hover {
        opacity: $button-coloured-hover-opacity;
        color: $color-primary;
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
  transition: $button-hover-animation;
  z-index: 5;

  div {
    transition: $button-hover-animation;
    overflow: hidden;
  }

  .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-background;
    border-radius: 8px;
    padding: 50px;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;

    h4 {
      font-size: $font-size-h6;
      font-weight: 400;

      margin: 0;
    }

    .close {
      user-select: none;
      position: absolute;
      top: 0;
      right: 8px;
      padding: 5px;
      font-size: $font-size-h5;
      cursor: pointer;
      transition: $button-hover-animation;
      &:hover {
        opacity: $button-coloured-hover-opacity;
      }
      > img {
        height: 20px;
        width: 20px;
      }
    }

    .info-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      column-gap: 30px;

      margin-bottom: 25px;

      .title-info-container {
        .title-container {
          display: flex;
          align-items: center;
          column-gap: 15px;

          .edit-icon {
            margin-right: 5px;
            height: 24px;
            width: 24px;

            border-radius: 50%;
            border: 2px solid rgba(34, 34, 34, 0.2);
            border-style: outset;

            background-color: $color-background;
            background-clip: padding-box;
            transition: $button-hover-animation;

            display: flex;
            justify-content: center;
            align-items: center;

            cursor: pointer;

            &:hover {
              transform: scale(1.1);
            }

            > img {
              height: 50%;
            }
          }
        }
      }

      .request-info-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .bounty-container {
          display: flex;
          align-items: center;

          img {
            height: 24px;
            width: 24px;
            margin-right: 10px;
          }

          h6 {
            font-size: $font-size-body-2;
            text-transform: uppercase;
            font-weight: 500;

            margin: 0;
            margin-right: 20px;
          }

          p {
            margin: 0;

            color: $color-secondary;
            font-size: $font-size-h6;
          }
        }

        .requester-container {
          display: flex;
          align-items: center;

          h6 {
            color: $color-grey-dark;
            margin: 0;

            margin-right: 20px;

            font-size: $font-size-body-2;
            font-weight: 400;
          }

          p {
            margin: 0;

            font-size: $font-size-body-2;
          }
        }
      }
    }

    .image-description-container {
      display: flex;
      justify-content: space-between;

      margin-bottom: 20px;

      img {
        object-fit: contain;

        border: solid 1px $color-grey-light;

        height: 350px;
        width: 350px;

        margin-right: 20px;
      }

      p {
        background-color: #f6f6f6;

        box-sizing: border-box;
        padding: 35px;

        width: 550px;
        height: 350px;

        margin: 0;

        font-size: $font-size-body-3;
      }
    }

    .artist-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &:hover {
        h5 {
          color: $color-primary;
        }
      }

      .artist {
        display: flex;
        flex-direction: row;
        align-self: center;

        margin-top: 10px;

        max-width: 500px;

        > img {
          height: 80px;
          width: 80px;

          border-radius: 100%;
          border: solid 1px $color-grey-light;

          margin-right: 16px;

          cursor: pointer;
        }

        > div {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          flex: 1;

          align-self: stretch;
          height: 80px;

          cursor: pointer;

          &:hover {
            h5 {
              color: $color-primary;
            }
          }

          h5 {
            font-size: $font-size-body-1;
            font-weight: 400;

            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;

            margin: 0;
            margin-top: 5px;
          }

          p {
            font-size: $font-size-body-2;
            color: $color-grey-dark;

            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;

            margin: 0;

            flex: 1;

            padding: 0;
            margin-top: 5px;
          }
        }
      }
    }

    .applicants-container {
      margin-top: 30px;

      > h4 {
        margin-bottom: 10px;
      }

      .applicant {
        display: flex;
        justify-content: space-between;

        width: 500px;

        border-top: solid 1px $color-grey-light;

        padding: 20px 0;
        box-sizing: border-box;

        align-items: center;

        > img {
          height: 50px;
          width: 50px;

          border-radius: 100%;
          border: solid 1px $color-grey-light;

          margin-right: 16px;

          cursor: pointer;

          &:hover {
            & + div {
              h5 {
                color: $color-primary;
              }
            }
          }
        }

        > div {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          flex: 1;

          align-self: stretch;
          height: 50px;

          cursor: pointer;

          &:hover {
            h5 {
              color: $color-primary;
            }
          }

          h5 {
            font-size: $font-size-body-2;
            font-weight: 400;

            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;

            margin: 0;
          }

          p {
            font-size: $font-size-body-3;
            color: $color-grey-dark;

            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;

            margin: 0;

            line-height: 1.2;
            flex: 1;
          }
        }

        > button {
          color: $color-background;
          background-color: $color-primary;

          font-size: $font-size-body-2;
          text-transform: uppercase;
          font-weight: 500;
          font-family: $font-family-poppins;

          height: 30px;
          border-radius: 5px;
          border: none;

          padding: 0 20px;

          cursor: pointer;

          transition: $button-hover-animation;

          &:hover {
            opacity: $button-coloured-hover-opacity;
          }
        }
      }

      .no-applicants-container {
        p {
          color: $color-grey-dark;
          font-size: $font-size-body-2;
        }
      }
    }
  }
}
