<div class="container">
  <div class="profile-panel">
    <div class="profile-img">
      <img src="{{ user.profileImageURI }}" alt="waifu" />
      <div class="edit-icon" (click)="openEditProfile()" *ngIf="isEdit">
        <img src="assets/icons/EditIcon.svg" />
      </div>
    </div>
    <div class="profile-info">
      <h2>{{ user.displayName }}</h2>
      <div class="status-group">
        <p>Statuses are not implemented~</p>
        <button *ngIf="!isEdit">Following</button>
        <button (click)="openEditProfile()" *ngIf="isEdit">Edit</button>
      </div>
      <p>
        {{ user.bio }}
      </p>
      <div class="creator-info">
        <h3>Creator info:</h3>
        <p>
          Completed <span>{{ user.numCompletedCommissions }}</span> comissions
        </p>
        <p>
          <span>{{ user.numLikes }}</span> total likes
        </p>
        <p>Specialties:</p>
        <div class="tags">tags are not implemented</div>
      </div>
    </div>
  </div>
  <div class="content-container">
    <div class="section services-container">
      <h1>Services</h1>
      <div class="services-content" cdkDropListGroup>
        <div
          class="service-item"
          *ngFor="let service of user.services; let i = index"
          (cdkDropListDropped)="drop($event)"
          [cdkDropListData]="{ item: service, index: i }"
          cdkDropList
          cdkDropListOrientation="horizontal"
        >
          <div class="inner" cdkDrag>
            <div *cdkDragPlaceholder></div>
            <div class="item-info">
              <h4>{{ service.name }}</h4>
              <div class="description-container">
                <p>{{ service.description }}</p>
              </div>
            </div>
            <div class="price-info">
              <p>
                ${{ service.price | number: "1.2-2" }}
                <span>/{{ service.priceType }}</span>
              </p>
            </div>
            <div class="remove-btn" (click)="remove(service)">
              <p>-</p>
            </div>
          </div>
        </div>
        <div
          class="section-add"
          (click)="openNewService()"
          *ngIf="user.services.length < 6 && isEdit"
        >
          +
        </div>
      </div>
    </div>
    <div class="section products-container">
      <div class="title-container">
        <h1>Latest waifus</h1>
        <button>View all</button>
      </div>
      <div class="products-content">
        <div *ngFor="let product of user.products" class="product-item">
          <img src="{{ product.images[0] }}" alt="waifu" />
          <div>
            <div class="product-info">
              <h4>{{ product.name }}</h4>
              <p>
                <img src="assets/icons/hearts/heart-filled-secondary.svg" /> 0
                Likes
              </p>
            </div>
            <p>${{ product.price | number: "1.2-2" }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="overlay" *ngIf="showEditProfile" [@inOutAnimation]>
  <div class="popup">
    <div class="profile-container">
      <div class="profile">
        <p class="title">Edit Profile</p>
        <a class="close" (click)="closeEditProfile()"> &times; </a>
        <p>Specialties <span>4/5</span></p>
        <div>
          <app-tags class="app-tags"></app-tags>
        </div>
      </div>
      <div class="profile-img">
        <img src="{{ user.profileImageURI }}" alt="waifu" />
        <input type="file" />
      </div>
    </div>
    <p class="about-me">About me</p>
    <textarea rows="5" placeholder="I am great at creating lolis..."></textarea>
    <button>SAVE</button>
  </div>
</div>

<div class="overlay" *ngIf="showNewService" [@inOutAnimation]>
  <div class="popup">
    <p class="title">Add/Edit Service</p>
    <a class="close" (click)="closeNewService()"> &times; </a>
    <p>Service title</p>
    <input placeholder="Breast augmentation" />
    <p>Pricing:</p>
    <div>
      <input
        class="radio"
        type="radio"
        name="comments"
        [defaultChecked]="true"
      />
      <span class="price-prefix">$</span>
      <input class="price-input" type="number" placeholder="69.99" />
      <select name="price-type">
        <option value="hour">/hr</option>
        <option value="each">/ea</option>
      </select>
      <input
        class="radio"
        type="radio"
        name="comments"
        [defaultChecked]="true"
      />
      <span>POA</span>
    </div>
    <textarea rows="5" placeholder="I am great at creating lolis..."></textarea>
    <button>SAVE</button>
  </div>
</div>
