@import "../../variables";

.container {
  height: calc(100% - $header-height);
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  overflow: hidden;
}

.profile-panel {
  height: 90%;
  width: 335px;

  margin: 20px 60px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 25px;

  > .profile-img > img {
    height: 300px;
    max-height: 30vh;
    max-width: max-height;

    border-radius: 50%;
    border: solid 1px $color-grey-dark;
  }

  .profile-img {
    position: relative;
  }

  .profile-info {
    width: 100%;
    display: flex;
    flex-direction: column;

    > h2 {
      font-size: $font-size-h5;
      color: $color-secondary;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 10px;
    }

    .status-group {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin: 0;

      > button {
        height: 30px;
        padding: 0 15px;
        margin-left: 15px;

        background: none;
        color: $color-background;
        background-color: $color-primary;

        border: solid 1px $color-grey-light;
        border-radius: 30px;

        text-transform: uppercase;
        font-size: $font-size-body-2;
        font-family: $font-family-poppins;
        font-weight: 500;

        cursor: pointer;

        transition: $button-hover-animation;

        &:hover {
          opacity: $button-coloured-hover-opacity;
        }
      }

      .following {
        background-color: $color-background;
        color: $color-primary;
        border: solid 1px $color-primary;
      }

      .status-online {
        background-color: $color-primary;
        color: $color-background;
      }

      > p {
        font-size: $font-size-body-2;
        font-weight: 400;
        color: $color-grey-dark;

        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;

        margin: 10px 0;
      }
    }

    > p {
      font-size: $font-size-body-2;
    }

    .creator-info {
      margin-top: 15px;
      > h3 {
        font-size: $font-size-body-1;
        font-weight: 400;

        color: $color-primary;
      }

      > p {
        font-size: $font-size-body-2;

        color: $color-grey-dark;

        margin: 10px 0;

        > span {
          color: $color-primary;
        }
      }
    }
  }
}

.content-container {
  height: 100%;
  flex: 1;

  overflow-y: scroll;

  display: flex;
  flex-direction: column;
}

.section {
  margin-right: 40px;

  margin-bottom: 40px;
}

.services-container {
  margin-top: 20px;

  .services-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 4%;

    .service-item {
      width: 48%;
      min-width: 250px;
      height: 100px;

      border-radius: 5px;
      border: solid 1px $color-grey-light;

      box-sizing: border-box;

      display: flex;
      justify-content: space-between;

      .drag {
        cursor: move;
      }

      .item-info {
        flex: 1;
        display: flex;
        flex-direction: column;

        h4 {
          font-size: $font-size-body-1;
          font-weight: 500;
          margin: 0;
          margin-top: -5px;

          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }

        .description-container {
          width: 100%;
          flex: 1;

          display: flex;
          flex-direction: column;
          justify-content: center;

          p {
            font-size: $font-size-body-3;
            font-weight: 400;
            margin: 0;
            color: $color-grey-dark;

            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
        }
      }

      .price-info {
        min-width: 100px;
        color: $color-secondary;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        margin-left: 15px;

        > p {
          font-size: $font-size-h6;
          font-weight: 400;

          margin: 0;

          > span {
            font-size: $font-size-body-3;
            font-weight: 400;
            color: $color-grey-dark;

            margin-left: -5px;
          }
        }

        .priceEach {
          color: $color-primary;
        }
      }
    }
  }
}

.products-container {
  * {
    text-decoration: inherit;
    color: inherit;
  }

  .title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    > button {
      font-size: $font-size-body-1;
      font-weight: 400;

      margin: 0;
      border: none;

      color: $color-grey-dark;
      background-color: transparent;

      cursor: pointer;

      &:hover {
        color: $color-primary;
      }
    }
  }

  .products-content {
    width: 100%;

    display: flex;
    flex-flow: row wrap;

    column-gap: 2%;
    row-gap: 20px;

    .product-item {
      width: 32%;

      border: solid 1px $color-grey-light;
      box-sizing: border-box;

      border-radius: 5px;

      img {
        width: 100%;
        max-height: width;
        aspect-ratio: 1;
        object-fit: contain;

        background-image: url(https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }

      > div {
        padding: 10px 15px;
        box-sizing: border-box;

        display: flex;
        flex-direction: row;
        align-items: center;

        .product-info {
          width: 100%;
          flex: 1;

          display: flex;
          flex-direction: column;
          justify-content: center;

          > h4 {
            font-size: $font-size-body-2;
            font-weight: 500;
            margin: 0;
            margin-top: -5px;
          }

          > p {
            font-size: $font-size-body-3;
            font-weight: 400;
            margin: 0;
            color: $color-grey-dark;

            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;

            > img {
              height: 12px;
              width: 12px;

              margin-bottom: -1px;
            }
          }
        }

        > p {
          font-size: $font-size-body-2;
          font-weight: 500;
          margin: 0;
          margin-left: 5px;
          color: $color-secondary;

          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
    }
  }
}

.section-add {
  cursor: pointer;
  display: flex;
  width: 48%;
  min-height: 98px;
  justify-content: center;
  align-items: center;
  font-size: $font-size-h4;
  color: $color-background;
  border-radius: 5px;
  border: solid 1px $color-grey-light;
  background-color: $color-grey-light;
  box-sizing: border-box;
  transition: $button-hover-animation;

  &:hover {
    opacity: $button-coloured-hover-opacity;
  }
}

.section h1 {
  font-size: $font-size-h4;
  font-family: $font-family-poppins;
  font-weight: 400;
  margin-top: 0;

  margin-bottom: 15px;
}

@media (min-width: 1600px) {
  .product-item {
    max-width: 23%;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  border: solid 1px $color-grey-light;
  box-sizing: border-box;

  background-color: $color-background;

  width: 48%;
  min-width: 250px;
  height: 100px;

  border-radius: 5px;
  border: solid 1px $color-grey-light;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;

  cursor: move;

  .item-info {
    flex: 1;
    display: flex;
    flex-direction: column;

    h4 {
      font-size: $font-size-body-1;
      font-weight: 500;
      margin: 0;
      margin-top: -5px;

      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .description-container {
      width: 100%;
      flex: 1;

      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        font-size: $font-size-body-3;
        font-weight: 400;
        margin: 0;
        color: $color-grey-dark;

        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
  .price-info {
    min-width: 100px;
    color: $color-secondary;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin-left: 15px;

    > p {
      font-size: $font-size-h6;
      font-weight: 400;

      margin: 0;

      > span {
        font-size: $font-size-body-3;
        font-weight: 400;
        color: $color-grey-dark;

        margin-left: -5px;
      }
    }

    .priceEach {
      color: $color-primary;
    }
  }
}

.service-placeholder {
  width: 0;
  height: 0;
}

.inner {
  width: 100%;
  padding: 20px;
  margin: 0px;
  display: flex;
  .drag {
    cursor: move;
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    .remove-btn {
      opacity: 1;
    }
  }

  position: relative;
}

.remove-btn {
  cursor: pointer;
  transition: $button-hover-animation;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  right: 10px;
  padding-left: 1px;
  padding-top: 1px;

  > p {
    line-height: 25px;
    height: 25px;
    width: 26px;
    border-radius: 50%;
    text-align: center;
    color: $color-background;
    background-color: #e20000;
    font-size: $font-size-h5;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
  transition: $button-hover-animation;
  z-index: 5;

  div {
    transition: $button-hover-animation;
    overflow: hidden;
  }

  .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-background;
    border-radius: 8px;
    padding: 65px;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 300px;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;

    .profile-container {
      display: flex;
      > .profile {
        flex: 1;
        display: block;
        > div {
          margin-left: -10px;
          margin-bottom: -50px;
        }
      }

      > .profile-img {
        position: relative;
        padding: 0;
        margin: 0;
        max-width: 142px;
        max-height: 142px;
        > img {
          border-radius: 50%;
          max-width: 140px;
          height: auto;
          border: solid 1px $color-grey-dark;
        }

        transition: $button-hover-animation;
        &:hover {
          opacity: $button-coloured-hover-opacity;
        }
        > input {
          cursor: pointer;
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
        }
      }
    }

    p {
      margin-bottom: 0px;
    }

    .radio {
      margin-right: 10px;
      margin-left: 0px;
    }

    .title {
      font-size: $font-size-h5;
      margin: 0;
    }

    .close {
      user-select: none;
      position: absolute;
      top: 0;
      right: 8px;
      padding: 5px;
      font-size: $font-size-h5;
      cursor: pointer;
      transition: $button-hover-animation;
      &:hover {
        opacity: $button-coloured-hover-opacity;
      }
      > img {
        height: 20px;
        width: 20px;
      }
    }

    select {
      font-size: $font-size-body-2;
      padding: 6px;
      margin: 10px 0;
      margin-left: 8px;
      border-radius: 5px;
      border: solid 1px $color-grey-light;
      margin-right: 67px;
      &:focus {
        outline: none;
        border-color: $color-primary;
        border-width: 1px;
      }
    }

    input {
      font-size: $font-size-body-2;
      border-radius: 3px;
      border: solid 1px $color-grey-light;
      padding: 6px 14px;
      margin: 10px 0;
      border-radius: 5px;
      background: none;
      &:focus {
        outline: none;
        border-color: $color-primary;
        border-width: 1px;
      }
    }

    .price-prefix {
      margin-left: 10px;
      margin-right: -20px;
      z-index: 1;
    }

    .price-input {
      width: 140px;
      text-align: right;
      padding-left: 24px;
      border-radius: 5px;
      border: solid 1px $color-grey-light;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      input[type="number"] {
        -moz-appearance: textfield;
      }
      &:focus {
        outline: none;
        border-color: $color-primary;
        border-width: 1px;
      }
    }

    textarea {
      max-width: calc(100% - 30px);
      min-width: calc(100% - 30px);
      font-size: $font-size-body-2;
      padding: 10px 14px;
      margin: 10px 0;
      margin-top: 20px;
      border-radius: 3px;
      border: solid 1px $color-grey-light;
      font-family: $font-family-poppins;
      &:focus {
        outline: none;
        border-color: $color-primary;
        border-width: 1px;
      }
    }

    > button {
      margin-top: 28px;
      margin-bottom: 0px;
      margin-left: auto;
      text-decoration: none;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $font-family-poppins;
      font-size: $font-size-body-2;
      font-weight: 400;
      border: 0;
      border-radius: 10px;
      padding: 10px 25px;
      cursor: pointer;
      transition: $button-hover-animation;
      color: $color-background;
      background-color: $color-primary;
      width: 121px;

      &:hover {
        opacity: $button-coloured-hover-opacity;
      }

      &:disabled {
        background-color: $color-grey-dark;
      }
    }
  }
}

.edit-icon {
  cursor: pointer;
  position: absolute;
  display: flex;
  bottom: 10px;
  right: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid rgba(34, 34, 34, 0.2);
  border-style: outset;

  background-color: $color-background;
  background-clip: padding-box;
  transition: $button-hover-animation;

  &:hover {
    opacity: $button-coloured-hover-opacity;
  }

  > img {
    margin: auto;
    width: 30px;
    height: 30px;
  }
}

.about-me {
  margin-top: 0 !important;
}

img {
  object-fit: cover;
}

.loading-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.empty {
  text-align: center;

  font-size: $font-size-body-2 !important;
  color: $color-grey-dark !important;

  margin: 20px 0;
}
