<div
  class="container"
  *ngIf="productDetails$ | async as productDetails; else loading"
>
  <div class="product-information-container">
    <div class="images-container">
      <gallery
        id="image-gallery"
        class="image-display"
        thumbPosition="bottom"
        thumbView="contain"
        imageSize="contain"
      ></gallery>
    </div>
    <div class="details-container">
      <div class="creator-info">
        <span>
          <a [href]="'/user/' + productDetails.artist.id">
            <img src="{{ productDetails.artist.profileImageURI }}" data-test-id="profileImage"  />
            {{ productDetails.artist.displayName }}
          </a>
          <button
            *ngIf="!productDetails.artist.isFollowing"
            (click)="follow(productDetails.artist.id)"
            data-test-id="followButton"
          >
            Follow
          </button>
          <button
            *ngIf="productDetails.artist.isFollowing"
            class="unfollow-btn"
            (click)="unfollow(productDetails.artist.id)"
          >
            Following
          </button>
        </span>
      </div>
      <h1 data-test-id="name">{{ productDetails.name }}</h1>
      <p data-test-id="categories">
        {{ productDetails.subcategory.category.name }} >
        {{ productDetails.subcategory.name }}
      </p>
      <app-tags [isEdit]="false" [tags]="productDetails.tags"></app-tags>
      <button
        class="heart-button"
        (click)="like(productDetails.id, productDetails.isLiked)"
      >
        <img
          *ngIf="productDetails.isLiked; else emptyHeart"
          src="assets/icons/hearts/heart-filled-secondary.svg"
        />
        <ng-template #emptyHeart>
          <img src="assets/icons/hearts/heart-empty-grey.svg" />
        </ng-template>
        <p data-test-id="numLikes">{{ productDetails.numLikes }}</p>
      </button>
      <div class="prices-container">
        <div
          *ngFor="let i of productDetails.variants"
          class="price-details-container"
        >
          <p data-test-id="price">${{ i.price | number: "1.2-2" }} USD</p>
          <div class="file-info-container">
            <div class="file-info">
              <p data-test-id="name">{{ i.name }}</p>
              <div class="tags-container">
                <span class="file-type-tag" *ngFor="let file of i.fileTypes">
                  <p data-test-id="fileType">{{ file }}</p>
                </span>
              </div>
            </div>
            <button (click)="addToCart(productDetails.id, i.id)">
              <img src="assets/icons/cart-white.svg" />
              <div>
                <h4>add to cart</h4>
                <p data-test-id="file">{{ i.file }}</p>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="description-container">
    <p data-test-id="description">
      {{ productDetails.description }}
    </p>
  </div>
  <div class="comments-container">Comments here</div>
</div>

<ng-template #loading>
  <div>Loading ...</div>
</ng-template>
