<div
  class="container"
  *ngIf="productDetails$ | async as productDetails; else loading"
>
  <div class="product-information-container">
    <div class="images-container">
      <gallery
        id="image-gallery"
        class="image-display"
        thumbPosition="bottom"
        thumbView="contain"
        imageSize="contain"
      ></gallery>
    </div>
    <div class="details-container">
      <div class="creator-info">
        <span>
          <a routerLink="{{ '/user/' + productDetails.artist.id }}">
            <img
              src="{{ productDetails.artist.profileImageURI }}"
              onerror="if (this.src != 'assets/profile-placeholder.png') this.src = 'assets/profile-placeholder.png';"
              data-test-id="profileImage"
            />
            {{ productDetails.artist.displayName }}
          </a>
          <button
            *ngIf="!productDetails.artist.isFollowing"
            (click)="follow(productDetails.artist.id)"
            data-test-id="followButton"
          >
            Follow
          </button>
          <button
            *ngIf="productDetails.artist.isFollowing"
            class="unfollow-btn"
            (click)="unfollow(productDetails.artist.id)"
          >
            Following
          </button>
        </span>
      </div>
      <h1 data-test-id="name">{{ productDetails.name }}</h1>
      <p data-test-id="categories">
        {{ productDetails.subcategory.category.name }} >
        {{ productDetails.subcategory.name }}
      </p>
      <app-tags [isEdit]="false" [tags]="productDetails.tags"></app-tags>
      <button
        class="heart-button"
        (click)="like(productDetails.id, productDetails.isLiked)"
      >
        <img
          *ngIf="productDetails.isLiked; else emptyHeart"
          src="assets/icons/hearts/heart-filled-secondary.svg"
        />
        <ng-template #emptyHeart>
          <img src="assets/icons/hearts/heart-empty-grey.svg" />
        </ng-template>
        <p data-test-id="numLikes">{{ productDetails.numLikes }}</p>
      </button>
      <div class="prices-container">
        <div
          *ngFor="let i of productDetails.variants"
          class="price-details-container"
        >
          <p data-test-id="price">${{ i.price | number: "1.2-2" }} USD</p>
          <div class="file-info-container">
            <div class="file-info">
              <p data-test-id="name">{{ i.name }}</p>
              <div class="tags-container">
                <span class="file-type-tag" *ngFor="let file of i.fileTypes">
                  <p data-test-id="fileType">{{ file }}</p>
                </span>
              </div>
            </div>
            <button *ngIf="userId === selfId" class="disabled-btn">
              <img src="assets/icons/cart-white.svg" />
              <div>
                <h4>add to cart</h4>
                <p data-test-id="file">{{ i.fileName }}</p>
              </div>
            </button>
            <button
              *ngIf="userId !== selfId && !i.isCart && !i.isPurchased"
              (click)="addToCart(productDetails.id, i.id)"
            >
              <img src="assets/icons/cart-white.svg" />
              <div>
                <h4>add to cart</h4>
                <p data-test-id="file">{{ i.fileName }}</p>
              </div>
            </button>
            <button
              class="remove-btn"
              *ngIf="userId !== selfId && i.isCart && !i.isPurchased"
              (click)="removeFromCart(productDetails.id, i.id)"
            >
              <img src="assets/icons/check-outline.svg" />
              <div>
                <h4>already in cart</h4>
                <p data-test-id="file">{{ i.fileName }}</p>
              </div>
            </button>
            <a class="download-btn" *ngIf="userId !== selfId && i.isPurchased">
              <img src="assets/icons/download.svg" />
              <div>
                <h4>download</h4>
                <p data-test-id="file">{{ i.fileName }}</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="description-container">
    <p data-test-id="description">
      {{ productDetails.description }}
    </p>
  </div>
  <div class="comments-container">Comments here</div>
</div>

<ng-template #loading>
  <div class="loading-container">
    <app-loading chibi="vivi" height="600px" fontSize="large"
      ><p text>
        Vivi is working hard to load this product for you...
      </p></app-loading
    >
  </div>
</ng-template>
