@import "../../variables";

.container {
  height: calc(100vh - 68px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  margin-bottom: 68px;
  p {
    font-size: $font-size-h4;
    color: $color-grey-dark;
    text-align: center;
    a {
      text-decoration: none;
      color: $color-primary;
    }
  }
}

.image {
  display: flex;
  justify-content: center;
  p {
    margin-right: 320px;
    margin-top: 55px;
    position: absolute;
    font-size: $font-size-h1;
    color: $color-primary;
    font-family: $font-family-monospace;
  }
}
