<div class="products-content">
  <a
    *ngFor="let product of products"
    class="product-item"
    [href]="getProductUrl(product.id)"
  >
    <img src="{{ product.titleImage }}" alt="waifu" />
    <div>
      <div class="product-info">
        <h4>{{ product.name }}</h4>
        <p>
          <img src="assets/icons/hearts/heart-filled-secondary.svg" />
          {{ product.numLikes }} Likes
        </p>
      </div>
      <p>${{ product.minPrice | number: "1.2-2" }}</p>
    </div>
  </a>
</div>
