<div class="container">
  <div class="carousel-section">
    <div class="carousel-viewport">
      <img class="carousel-item" src="assets/banners/default.png" />
      <img class="carousel-item" src="assets/banners/default.png" />
      <img class="carousel-item" src="assets/banners/default.png" />
      <img class="carousel-item" src="assets/banners/default.png" />
      <img class="carousel-item" src="assets/banners/default.png" />
    </div>
    <img src="assets/banners/default.png" />
  </div>
  <div
    class="request-selection"
    *ngIf="requests$ | async as requests; else loading"
  >
    <ng-container *ngIf="requests.edges.length > 0; else empty">
      <ng-container *ngFor="let request of requests.edges">
        <div
          class="request"
          *ngIf="request.node as request"
          (click)="setSelectedOrder(request)"
        >
          <img [src]="request.image" />
          <div class="request-content">
            <h5>{{ request.name }}</h5>
            <div class="request-description">
              <p class="description">{{ request.description }}</p>
              <div class="request-bounty">
                <img src="assets/icons/bounty.svg" />
                <span> ${{ request.bounty | number: "1.2-2" }} </span>
              </div>
            </div>
            <ng-container (click)="preventDefault($event)">
              <div class="tag-container">
                <app-tags
                  class="app-tags"
                  [isEdit]="false"
                  [tags]="request.tags"
                ></app-tags>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>

<div
  class="overlay"
  (click)="setSelectedOrder(undefined); $event.stopPropagation()"
  *ngIf="selectedOrder"
  [@inOutAnimation]
>
  <div class="popup" (click)="$event.stopPropagation()">
    <div class="info-container">
      <div class="title-info-container">
        <div class="title-container">
          <h4>{{ selectedOrder.name }}</h4>
        </div>
        <app-tags [isEdit]="false" [tags]="selectedOrder.tags"></app-tags>
      </div>
      <div class="request-info-container">
        <div class="bounty-container">
          <img src="assets/icons/money-bag.svg" />
          <h6>Bounty:</h6>
          <p>${{ selectedOrder.bounty }}</p>
        </div>
        <div class="requester-container">
          <h6>Requested by:</h6>
          <p>{{ selectedOrder.owner.displayName }}</p>
        </div>
      </div>
    </div>
    <div class="image-description-container">
      <img
        src="{{ selectedOrder.image }}"
        onerror="if (this.src != 'assets/placeholder.jpg') this.src = 'assets/placeholder.jpg';"
      />
      <p class="description-container">{{ selectedOrder.description }}</p>
    </div>
    <div class="button-container">
      <button
        class="apply-btn"
        [disabled]="checkIfApplied()"
        (click)="apply($event, selectedOrder.id)"
      >
        Apply
      </button>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="loading-container">
    <app-loading chibi="gwenny" height="300px" fontSize="large"
      ><p text>Gwenny is working hard to load some requests for you...</p>
    </app-loading>
  </div>
</ng-template>

<ng-template #empty>
  <div class="loading-container">
    <app-loading chibi="gwenny" height="300px" fontSize="large">
      <p text>Gwenny found no requests... Let's check again later!</p>
    </app-loading>
  </div>
</ng-template>
