<div class="container" *ngIf="carts$ | async as carts; else loading">
  <h4>Current Cart</h4>
  <ng-container *ngIf="carts.length > 0; else empty">
    <div *ngFor="let cart of carts" class="cart">
      <div class="title">
        <div class="seller">
          <a routerLink="/marketplace/product/{{ cart.seller.id }}">
            <img
              src="{{ cart.seller.profileImageURI }}"
              alt="{{ cart.seller.displayName }} profile picture"
              onerror="if (this.src != 'assets/profile-placeholder.png') this.src = 'assets/profile-placeholder.png';"
            />
            <h5>{{ cart.seller.displayName }}</h5>
          </a>
        </div>
        <img
          src="assets/icons/ExitIcon.svg"
          alt="Exit Icon"
          class="exit-icon"
          (click)="emptyCart(cart.seller.id)"
        />
      </div>
      <hr class="divider" />
      <div *ngFor="let item of cart.items">
        <div class="item">
          <a routerLink="/marketplace/product/{{ item.product.id }}">
            <img
              src="{{ item.product.titleImage }}"
              onerror="if (this.src != 'assets/placeholder.png') this.src = 'assets/placeholder.png';"
            />
            <div class="item-content">
              <div class="item-details">
                <p class="item-name">{{ item.name }}</p>
                <p class="item-fileName">{{ item.fileName }}</p>
              </div>
            </div>
          </a>
          <div class="item-buttons">
            <p class="item-price">${{ item.price | number: "1.2-2" }} USD</p>
            <button
              class="item-remove"
              (click)="removeFromCart(item.product.id, item.id)"
            >
              Remove
            </button>
          </div>
        </div>
        <hr class="divider" />
      </div>
      <div class="checkout">
        <p>
          <span class="checkout-total">Total: {{ cart.numItems }} item(s)</span>
          <span class="checkout-price"
            >${{ cart.totalAmount | number: "1.2-2" }} USD</span
          >
        </p>
        <button class="checkout-button" (click)="checkout(cart.seller.id)">
          Checkout
        </button>
        <br />
        <a routerLink="#" class="checkout-return">Continue Shopping ></a>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #loading>
  <app-loading>
    <p text>Loading your cart...</p>
  </app-loading>
</ng-template>

<ng-template #empty>
  <div class="loading-container">
    <app-loading>
      <p text>
        No item yet... Let's <a routerLink="/marketplace">start shopping</a>!
      </p>
    </app-loading>
  </div>
</ng-template>
