@import "../../variables";

h4 {
  font-size: $font-size-h4;
  font-weight: 400;
  line-height: 54px;
  text-align: center;
  margin-bottom: 26px;
  margin-top: 0px;
}

.title {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .exit-icon {
    cursor: pointer;
    transition: $button-hover-animation;
    &:hover {
      opacity: $button-coloured-hover-opacity;
    }
  }
}

.seller a {
  display: flex;
  align-items: center;
  text-decoration: none;

  color: inherit;

  &:hover {
    h5 {
      color: $color-secondary;
    }
  }

  img {
    width: 48px;
    height: 48px;
    border: 1px solid $color-grey-light;
    border-radius: 32px;
    margin-right: 18px;
  }

  h5 {
    text-decoration: none;
    transition: $button-hover-animation;
  }
}

h5 {
  font-size: $font-size-h5;
  font-weight: 400;
  margin: 0;
}

.divider {
  border: none;
  border-top: 1px solid $color-grey-light;
  margin: 18px 0;
}

.container {
  max-width: 1332px;
  margin: 0 auto;
  padding: $padding-safe-area;
}

.cart {
  border-radius: 10px;
  border: 1px solid $color-grey-light;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 32px 64px;
  margin-bottom: 32px;
}

.item {
  display: flex;
  justify-content: space-between;

  img {
    width: 64px;
    height: 64px;
    border: 1px solid $color-grey-light;
  }

  p {
    margin: 0;
  }

  a {
    display: flex;

    text-decoration: none;

    color: inherit;
  }

  .item-content {
    padding-left: 36px;
    display: flex;
    flex-grow: 1;
    right: 0;

    > .item-details {
      cursor: pointer;
      flex: 1;

      display: flex;
      flex-direction: column;
      align-items: flex-start;

      justify-content: space-around;

      .item-name {
        font-size: $font-size-body-1;
      }

      .item-fileName {
        font-size: $font-size-body-3;
        font-weight: 400;

        color: $color-grey-dark;

        margin: 0;
      }

      &:hover {
        .item-name {
          color: $color-primary;
        }
      }
    }

    .item-name {
      transition: $button-hover-animation;
    }
  }

  > .item-buttons {
    flex: 1;
    text-align: end;
    justify-content: space-between;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;

    > .item-price {
      margin: 0;
      color: $color-secondary;
    }

    > button {
      color: $color-grey-dark;
      font-size: $font-size-body-2;
      background: none !important;
      border: none;
      padding: 0 !important;
      cursor: pointer;
      transition: $button-hover-animation;
      &:hover {
        opacity: $button-coloured-hover-opacity;
      }
    }
  }
}

.checkout {
  text-align: right;

  .checkout-total {
    font-size: $font-size-h6;
  }

  button {
    display: inline-block;
    background-color: $color-primary;
    color: $color-background;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: $font-size-body-2;
    border: 0;
    padding: 11px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: solid 1px $color-grey-light;
    cursor: pointer;
    transition: $button-hover-animation;
    &:hover {
      opacity: $button-coloured-hover-opacity;
    }
  }

  .checkout-price {
    font-size: $font-size-h6;
    color: $color-secondary;
    margin-left: 30px;
  }

  .checkout-return {
    text-decoration: none;
    color: $color-grey-dark;
    transition: $button-hover-animation;
    &:hover {
      opacity: $button-coloured-hover-opacity;
    }
  }
}
