<div class="container">
  <h4>Current Cart</h4>
  <div *ngFor="let cart of carts.carts" class="cart">
    <div class="title">
      <div class="seller">
        <img src="{{cart.seller.profileImageURI}}" alt="{{cart.seller.displayName}} profile picture">
        <h5>{{cart.seller.displayName}}</h5>
      </div>
      <img src="assets/icons/ExitIcon.svg" alt="Exit Icon" class="exit-icon" />
    </div>
    <hr class="divider" />
    <div *ngFor="let item of cart.items">
      <div class="item">
        <img src="{{item.titleImage}}" alt="Ayumi Sensei" />
        <div class="item-content">
          <div class="item-details">
            <p class="item-name">{{item.name}}</p>
            <p class="item-price">${{ item.variants[0].price | number: "1.2-2" }} USD</p>
          </div>
          <div class="item-buttons">
            <p class="item-type">Digital</p>
            <button class="item-remove">Remove</button>
          </div>
        </div>
      </div>
      <hr class="divider" />
    </div>
    <div class="checkout">
      <p>
        <span class="checkout-total">Total: {{cart.numItems}} item(s)</span>
        <span class="checkout-price">${{ cart.totalAmount | number: "1.2-2" }} USD</span>
      </p>
      <button class="checkout-button">Checkout</button>
      <br />
      <a href="#" class="checkout-return">Continue Shopping ></a>
    </div>
  </div>
</div>
