<h1>Manage Commissions</h1>
<hr />

<h3>Pending Commission Applications</h3>
<div class="content-container pending-orders">
  <div
    *ngFor="let order of myCommissions.pending"
    class="request-container"
    (click)="setSelectedOrder(order)"
  >
    <img
      src="https://i.idol.st/u/card/art/197UR-Toujou-Nozomi-Pain-Pain-Go-Away-Magical-Fever-Svt4gA.png"
    />
    <div class="info-container">
      <h4>{{ order.name }}</h4>
      <div class="description-container">
        <p>{{ order.description }}</p>
      </div>
    </div>
    <p>${{ order.bounty }}</p>
  </div>
</div>

<div class="past-commissions-container">
  <div class="won-commissions-container">
    <h3>Won Commissions</h3>
    <div class="content-container">
      <table>
        <tr>
          <th class="request-col">Request</th>
          <th class="requester-col">Requester</th>
        </tr>

        <ng-container *ngFor="let order of myCommissions.won">
          <tr>
            <td class="request-col">
              <div class="request-container" (click)="setSelectedOrder(order)">
                <img src="{{ order.image }}" />
                <div>
                  <h5>{{ order.name }}</h5>
                  <p>
                    {{ order.description }}
                  </p>
                </div>
              </div>
            </td>
            <td class="requester-col">
              <div
                class="requester-container"
                (click)="navigateToUser(order.artist?.id)"
              >
                <img src="{{ order.artist?.profileImageURI }}" />
                <p>{{ order.artist?.displayName }}</p>
              </div>
            </td>
          </tr>
        </ng-container>
      </table>
    </div>
  </div>

  <div class="won-commissions-container">
    <h3>Lost Commissions</h3>
    <div class="content-container">
      <table>
        <tr>
          <th class="request-col">Request</th>
          <th class="requester-col">Requester</th>
        </tr>

        <ng-container *ngFor="let order of myCommissions.won">
          <tr>
            <td class="request-col">
              <div class="request-container" (click)="setSelectedOrder(order)">
                <img src="{{ order.image }}" />
                <div>
                  <h5>{{ order.name }}</h5>
                  <p>
                    {{ order.description }}
                  </p>
                </div>
              </div>
            </td>
            <td class="requester-col">
              <div
                class="requester-container"
                (click)="navigateToUser(order.artist?.id)"
              >
                <img src="{{ order.artist?.profileImageURI }}" />
                <p>{{ order.artist?.displayName }}</p>
              </div>
            </td>
          </tr>
        </ng-container>
      </table>
    </div>
  </div>
</div>

<div
  class="overlay"
  (click)="setSelectedOrder(undefined); $event.stopPropagation()"
  *ngIf="selectedOrder"
  [@inOutAnimation]
>
  <div class="popup" (click)="$event.stopPropagation()">
    <div class="info-container">
      <div class="title-info-container">
        <h4>{{ selectedOrder.name }}</h4>
        <app-tags [isEdit]="false" [tags]="selectedOrder.tags"></app-tags>
      </div>
      <div class="request-info-container">
        <div class="bounty-container">
          <img src="assets/icons/money-bag.svg" />
          <h6>Bounty:</h6>
          <p>${{ selectedOrder.bounty }}</p>
        </div>
        <div class="requester-name-container">
          <h6>Requested by:</h6>
          <p>{{ selectedOrder.owner.displayName }}</p>
        </div>
      </div>
    </div>
    <div class="image-description-container">
      <img src="{{ selectedOrder.image }}" />
      <p class="description-container">{{ selectedOrder.description }}</p>
    </div>
    <div class="button-container">
      <button class="cancel-button">Cancel application</button>
    </div>
  </div>
</div>
