@import "../../../variables";

:host {
  width: 100%;
}

.content-container {
  height: 100%;
  padding: 40px;
  box-sizing: border-box;
  flex: 1;
  overflow-y: scroll;
  width: 100%;
}

.mail-item {
  border: solid 1px $color-grey-light;
  border-radius: 10px;

  padding: 20px 25px;
  box-sizing: border-box;
  margin-bottom: 30px;

  max-width: 950px;
  min-width: 350px;

  > h4 {
    margin: 0;

    font-size: $font-size-body-2;
    font-weight: 500;
  }

  > p {
    font-size: $font-size-body-3;
    margin-bottom: 5px;
  }

  .mail-meta {
    color: $color-grey-dark;
    line-height: 0.3;

    > a {
      text-decoration: none;
      color: $color-primary;
      cursor: pointer;

      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }

  .mail-content {
    margin-top: 20px;
  }
}

.empty {
  height: 90%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  img {
    width: 300px;
  }

  p {
    color: $color-grey-dark;

    a {
      color: $color-primary;
      text-decoration: none;
      transition: $button-hover-animation;

      &:hover {
        opacity: $button-coloured-hover-opacity;
      }
    }
  }
}
