<h1>My Favourites</h1>
<hr />

<table>
  <tr>
    <th class="product-col">Product</th>
    <th class="artist-col">Buyer</th>
    <th class="date-col">Transaction Date</th>
    <th class="price-col">Price</th>
  </tr>

  <ng-container *ngFor="let purchase of purchases">
    <tr *ngFor="let item of purchase.items">
      <td class="product-col">
        <div class="product-container">
          <img src="{{ item.product.titleImage }}" />
          <div>
            <h5>{{ item.product.name }}</h5>
            <p>
              {{ item.fileName }}
            </p>
          </div>
        </div>
      </td>
      <td class="artist-col">{{ purchase.placed }}</td>
      <td class="date-col">
        <div class="artist-container">
          <img src="{{ purchase.seller.profileImageURI }}" />
          <p>{{ purchase.seller.displayName }}</p>
        </div>
      </td>
      <td class="price-col">{{ item.price }}</td>
    </tr>
  </ng-container>
</table>
