<h1>My Favourites</h1>
<hr />

<table>
  <tr>
    <th>Product</th>
    <th>Buyer</th>
    <th>Transaction Date</th>
    <th>Price</th>
  </tr>

  <tr>
    <td>
      <h5>VROID Outfit - Raiden Shogun/Genshin Impact</h5>
      <h6>
        VRM - Shogun/Genshin Impact Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Iusto provident ab modi quos nesciunt voluptatum ut
        esse quo, possimus est impedit. Neque, ipsum ex voluptates tempore
        labore beatae nemo incidunt?
      </h6>
    </td>
    <td>12-12-2000 5:30pm</td>
    <td>
      <img src="https://picsum.photos/200?2" />
      <h5>Baka</h5>
    </td>
    <td>$69.99</td>
  </tr>
</table>
