<div class="header-bg">
  <img class="cloud cloud-left" src="../../../assets/clouds/cloud_big.svg" />
  <img class="cloud cloud-mid" src="../../../assets/clouds/cloud_big.svg" />
  <img class="cloud cloud-right" src="../../../assets/clouds/cloud_smol.svg" />
</div>
<div class="page-container">
  <div class="content-container">
    <h3>Sign In</h3>
    <div class="signin-container">
      <div class="half-container chibi-container">
        <img src="../../assets/chibis/chibi_pink.png" />
      </div>
      <div class="half-container form-container">
        <input type="text" placeholder="Email Address" #userEmail required />
        <input type="password" placeholder="Password" #userPassword required />
        <div class="action-container">
          <div class="actions">
            <span class="remember-me"
              ><input type="checkbox" /> rememebr me</span
            >
            <span class="forgot-password" routerLink="/forgot-password"
              >Forgot Pasword?</span
            >
          </div>
          <div>
            <input
              class="button"
              type="button"
              value="Log In"
              (click)="authService.SignIn(userEmail.value, userPassword.value)"
            />
            <a
              class="button"
              routerLink="/register"
              href="location.href='/register'"
            >
              No account?
            </a>
          </div>
        </div>
      </div>
    </div>
    <p>
      By signing into ViralVtubers, you agree to our <a>terms and conditions</a>
    </p>
  </div>
</div>
<app-footer></app-footer>
