<div class="headerBg">
  <img class="cloud cloud-left" src="../../../assets/clouds/cloud_big.svg" />
  <img class="cloud cloud-mid" src="../../../assets/clouds/cloud_big.svg" />
  <img class="cloud cloud-right" src="../../../assets/clouds/cloud_smol.svg" />
</div>
<div class="signIn">
  <h3>Sign In</h3>
  <input type="text" placeholder="Email Address" #userEmail required />
  <input type="password" placeholder="Password" #userPassword required />
  <input
    type="button"
    value="Log In"
    (click)="authService.SignIn(userEmail.value, userPassword.value)"
  />

  <span routerLink="/forgot-password">Forgot Pasword?</span>
  <span
    >Don't have an account?<span routerLink="/register"> Sign up</span></span
  >
</div>
