@import "../../variables";

.headerBg {
  background-color: $color-primary-light;
  height: 290px;
  margin-top: -$header-height;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

.cloud {
  position: absolute;
}

.cloud-left {
  width: 450px;
  transform: rotate(1deg);
  left: -20px;
  top: 160px;
}

.cloud-mid {
  transform: rotate(177deg);
  width: 800px;
  left: 30vw;
  top: 175px;
}

.cloud-right {
  width: 325px;
  right: -50px;
  top: 185px;
}
