@import "../../../variables";

.container {
  width: 100%;
  height: 100%;
  background-color: lightblue;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    height: 70%;
  }

  .flipped {
    transform: scaleX(-1);
  }

  p {
    color: $color-grey-dark;
    font-size: $font-size-body-2;
  }
}
