@import "../../../variables";

$header-bg-height: 220px;
$input-width: 420px;

:host {
  display: block;
}

.header-bg {
  background-color: $color-primary-light;
  height: calc(100% - $header-height);
  overflow: hidden;
  position: relative;
  z-index: -1;

  .cloud {
    position: absolute;
  }

  .cloud-left {
    width: 535px;
    transform: rotate(178deg) scaleX(-1);
    left: -7vw;
    top: -145px;
  }

  .cloud-mid {
    transform: rotate(-3deg);
    width: 960px;
    left: 22vw;
    top: -380px;
  }

  .cloud-right {
    transform: rotate(178deg);

    width: 655px;

    right: -5vw;
    top: -170px;
  }
}

.page-container {
  margin-top: 160px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: lightblue;

  > h1 {
    font-size: $font-size-h4;
    font-weight: 400;

    margin: 0;

    margin-bottom: 30px;
  }

  .options-container {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    justify-content: space-evenly;

    padding-bottom: 80px;

    .option {
      height: 55vh;
      min-height: 500px;
      aspect-ratio: 55/62;

      background-color: $color-background;
    }
  }
}
