<div class="header-bg">
  <img class="cloud cloud-left" src="../../../assets/clouds/cloud_smol.svg" />
  <img class="cloud cloud-mid" src="../../../assets/clouds/cloud_big.svg" />
  <img class="cloud cloud-right" src="../../../assets/clouds/cloud_big.svg" />
  <div class="page-container">
    <h1>What brings you here?</h1>
    <div class="options-container">
      <div class="option">
        <img src="assets/chibis/chibi-artist.png" />
        <h3>I'm an Artist</h3>
        <p>
          Come with Gwenny! I'll show you some <br />commission requests that
          you may be interested in!
        </p>
        <button>View commission requests</button>
      </div>
      <div class="option">
        <img src="assets/chibis/chibi-order.png" />
        <h3>I'm an Artist</h3>
        <p>
          Come with Vivi! I'll show you some awesome <br />artists who can help
          you make your dream Vtuber!
        </p>
        <a><button>View available artists</button></a>
      </div>
    </div>
  </div>
</div>
