@import "../../../variables";

$header-bg-height: 220px;
$input-width: 420px;

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100% - $header-bg-height - $footer-height);
  width: 100%;
  background-color: $color-background;
}

.header-bg {
  background-color: $color-primary-light;
  height: calc(100% - $header-height);
  overflow: hidden;
  position: relative;
  z-index: -1;

  .cloud {
    position: absolute;
  }

  .cloud-left {
    width: 535px;
    transform: rotate(178deg) scaleX(-1);
    left: -7vw;
    top: -145px;
  }

  .cloud-mid {
    transform: rotate(-3deg);
    width: 960px;
    left: 22vw;
    top: -380px;
  }

  .cloud-right {
    transform: rotate(178deg);

    width: 655px;

    right: -5vw;
    top: -170px;
  }
}
