<div class="header-bg">
  <img class="cloud cloud-left" src="../../../assets/clouds/cloud_big.svg" />
  <img class="cloud cloud-mid" src="../../../assets/clouds/cloud_big.svg" />
  <img class="cloud cloud-right" src="../../../assets/clouds/cloud_smol.svg" />
  <div>
    coantiner coantiner coantiner coantiner coantiner coantiner coantiner
    coantiner coantiner coantiner coantiner coantiner coantiner coantiner
    coantiner coantiner coantiner coantiner coantiner coantiner coantiner
    coantiner coantiner coantiner coantiner coantiner coantiner coantiner
    coantiner coantiner coantiner coantiner coantiner coantiner coantiner
    coantiner coantiner coantiner coantiner coantiner coantiner coantiner
    coantiner coantiner coantiner coantiner coantiner coantiner coantiner
    coantiner coantiner coantiner coantiner coantiner coantiner coantiner
    coantiner coantiner coantiner coantiner coantiner coantiner coantiner
    coantiner coantiner coantiner coantiner coantiner coantiner coantiner
    coantiner coantiner coantiner coantiner coantiner coantiner coantiner
    coantiner coantiner coantiner coantiner coantiner coantiner coantiner
    coantiner coantiner coantiner coantiner coantiner coantiner coantiner
    coantiner coantiner coantiner coantiner coantiner coantiner coantiner
    coantiner coantiner coantiner coantiner coantiner coantiner coantiner
    coantiner coantiner coantiner coantiner coantiner coantiner coantiner
    coantiner coantiner coantiner coantiner coantiner coantiner
  </div>
</div>
