<div class="container">
  <div routerLink="requests" class="request box">
    <div class="background">
      <p class="backgroundText">View <br /></p>
      <p class="requestText backgroundText">Request</p>
    </div>
    <p>View Commission Requests</p>
    <img src="assets/images/chibi-order.png" />
  </div>
  <div routerLink="artists" class="artist box">
    <div class="background">
      <p class="backgroundText">
        View <br />
        Artist
      </p>
    </div>

    <p>View Available Artists</p>
    <img src="assets/images/chibi-artist.png" />
  </div>
</div>
